{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
    {% if user.username != "Admin123"  %}
    
    <a href="{% url 'profile' %}"> User Profile </a></p>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='area-busca' placeholder="Search your task" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if user.is_authenticated and user.username != "Admin123"  %}
    <a href="{% url 'user-submit' %}">Submit Tasks</a>  {% else %}
    <a href="{% url 'task-submissions' %}">Verify Task Submissions</a> 
    {% endif %}
    
    {% if tasks|length > 0 and user.is_authenticated and user.username == "Admin123" %}
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    {% endif %}
</div>



<!-- Hidden form. Form submits new item positions -->



<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if completed|get_item:task %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>  
            {% endif %}
            

        </div>
        <div class="task-controls">
            {% if user.is_authenticated and user.username == "Admin123"  %}
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            {% endif %}
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        {% if user.is_authenticated and user.username == "Admin123"  %}
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
        {% endif %}
    </div>
    {% endfor %}
</div>



{% endblock content %}