{% extends 'base/main.html'%}
{% block content %}
<a href="{% url 'tasks'%}">BACK TO TASKS</a>
<h1>User Details</h1>
    <a href="{% url 'edit-profile'%}">Edit Profile</a>
    <a href="{% url 'certificate' %}">View Certificate </a></p>
    <label for="name">Name:</label>
    {{profile.name}}<br>
    <label for="email">Email:</label>
    {{profile.email}}<br>
    <label for="college">College:</label>
    {{profile.college}}<br>
    <label for="major">Major:</label>
    {{profile.major}}<br>
    <label for="year">Year:</label>
    {{profile.year}}<br>
{% endblock content %}